* {
    margin : 0;
    padding:0;
   box-sizing:border-box ;
   font-family: 'spartan',sans-serif;
}
.section-p1{
    padding: 40px 80px;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1px 0px;
    background: rgb(23, 22, 22);
    box-shadow: 0.5px 4px rgb(89, 85, 85);
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding:0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(234, 227, 227);
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active
{
    color: rgb(232, 133, 98);
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height:2px;
    background:rgb(139, 191, 226);
    position:absolute;
    bottom:-4px;
    left:20px
}
#hero{
    background-image: url(images.jfif.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 80% right 0 ;
    padding:0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h1{
    color: rgb(230, 95, 42);
    padding-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;

}
#hero h2{
    color: aliceblue;
    padding-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#hero h4{
    color: aliceblue;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#hero button{
    color: rgb(216, 87, 54);
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger;
     border:0;
    
   
}
#hero button:hover{
    color: rgb(224, 219, 219);
    background-color: black;
    transition: 0.3s ease;
}

